
<div id="menu">
  <ul>
    <li><%= link_to 'Pages', :controller => 'pages'%></li>
    <li><%= link_to 'Menus', :controller => 'menus'%></li>
    <li><%= link_to 'Posts', :controller => 'posts'%></li>
    <li><%= link_to 'Medias', :controller => 'medias'%></li>
</ul>
</div>

<div class="clear"></div>
