<h1>Listing pages
  <span class="title_button"><%= link_to 'New page', new_page_path %></span>
</h1>

<table>
  <thead>
    <tr><th>Title </th><th> Published </th><th> ID </th><th></th></tr>
  </thead>

<% @pages.each do |page| %>
  <tr><td class="table_title"><%= link_to h(page.title), edit_page_path(page) %></td>
    <td><% if page.published %>
	  yes
        <% else -%>
	  no
	<% end -%>
    </td>
    <td><%= page.id %></td>
    <td class="table_actions">
       <%= link_to 'Edit', edit_page_path(page) %> |
       Destroy
    </td>
  </tr>
<% end %>
  <tfoot>
    <tr><th>Title </th><th> Published </th><th> ID </th><th></th></tr>
  </tfoot>
</table>

<br />


